/download
/eclipseBin

## gradle
/.gradle
/build

## ForgeGradle
/run

# eclipse
/eclipse
/.settings
/.metadata
/.classpath
/.project
/bin

# idea
/out
/.idea
/*.iml
/*.ipr
/*.iws
/atlassian-ide-plugin.xml

## gedit
*~

# Files from Forge MDK
forge*changelog.txt

logs/debug.log

logs/latest.log

## translation reports
resources/assets/enderio/lang/*.lang.txt
/*.launch

src/\.DS_Store

externalannotations/\.DS_Store

gradle/\.DS_Store

\.DS_Store